
/* 기본 css */
.frame {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side {
    width: 17rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;

    /* z-index: 1;
    background-color: #ffffff; */
}
.right-side {
    flex: 1;
    height: 100%;
    background-color: #e0e0e0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

/* 좌측 사이드 css */
.menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
}
.menu-item > p {
    margin-left: 0.7rem;
    font-weight: 700;
}
.menu-item:hover {
    color: coral;
}
.selected-item {
    background-color: #9e9e9e;
    color: honeydew;
}

/* 우측 사이드 css */
.view-title {
    box-sizing: border-box; /* border, padding 포함하여 크기결정 */
    width: 100%;
    padding: 1rem;

    display: flex;
}
.view-title-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
}
.view-title-content {
    display: inline;
    box-sizing: border-box;
    padding: 0.3rem;
    border-bottom: 3px dashed gray;

    font-size: 1.5rem;
    font-weight: 800;
}
